:root {
	--dancing: "Dancing Script", cursive;
	--great: "Great Vibes", cursive;
	--marck: "Marck Script", cursive;
	--montez: "Montez", cursive;
	--roboto: "Roboto", sans-serif;
	--satisfy: "Satisfy", cursive;
}

#about {
	/* border: solid yellow 2px; */
	background-color: fff;
	font-family: var(--roboto);
}

#about {
	display: flex;
}

#about .parallax {
	background-color: red;
	width: 50%;

	/* Create the parallax scrolling effect */
	/* background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
	position: relative;
	padding: 8rem 0;
}

.parallax .nav {
	display: flex;
	flex-direction: column;
	align-items: center;

	/* z-index: 10; */
}
#about .nav ul li a {
	color: black;
	font-weight: bolder;
}

#about_nav_1 {
	/* border: solid black 2px; */
}
#about_nav_2 {
	/* border: solid white 2px; */
	align-self: flex-end;
}
#about_nav_3 {
	/* border: solid blue 2px; */
}

.nav .img-container {
	/* border: solid black 2px; */
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	right: -4.2em;
}
.parallax .img-container img {
	width: 8em;
	height: 8em;
	border-radius: 50%;
	background-image: url("https://images.pexels.com/photos/4224268/pexels-photo-4224268.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
}

.parallax .nav .nav_head {
	/* border: solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.parallax .nav h1 {
	color: #fff;
	font-size: 8em;
	font-family: var(--satisfy);
	margin-bottom: 150px;
}

.parallax_absolute {
	position: absolute;
	width: 100%;
	bottom: 8rem;
}

.parallax_fixed {
	position: fixed;
	width: 50%;
	top: 100;
}

.right-div {
	/* border: solid red 1px; */
	width: 50%;
	padding: 3em 3em 2em 7em;
}
.right-div h1 {
	font-size: 1.5em;
	/* margin-bottom: 10px; */
}
.right-div div p {
	/* background-color: red; */
	line-height: 24px;
	margin-bottom: 10px;
}
.about_content_1 {
	margin-bottom: 30px;
}
.about_content_1 h1 {
	margin: 2em 0 1em 0;
}
.about_content_1 h1:first-child + h1 a {
	color: red;
	/* text-decoration: none; */
}

.about_content_2 h1 {
	margin-bottom: 1em;
}

.about_content_2 picture {
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
}

.about_content_2 .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 20px;
	margin-bottom: 10px;
}

.about_content_2 .card img {
	width: 5rem;
	height: 5rem;
	margin-bottom: 10px;
	transition: transform.2s;
	/* border: solid red; */
}
.about_content_2 .card img:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 2px 2px rgb(205, 202, 202);
}
.about_content_2 .card a {
	font-size: 12px;
	text-decoration: none;
	color: black;
	visibility: hidden;
}

.about_content_2 .card:hover a {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}
.visible {
	visibility: visible;
}

/* ! start of responsive css */
@media only screen and (max-width: 1000px) {
	#about {
		/* display: flex; */
		flex-direction: column;
	}
	#about .parallax {
		padding: 30px 0;
	}
	#about_nav_1 {
		visibility: visible;
	}
	#about_nav_2 {
		display: none;
	}
	#about_nav_3 {
		display: none;
	}
	#about .parallax {
		width: 100%;
	}
	#about .nav .img-container {
		justify-content: center;
		right: 0;
	}
	#about .parallax .nav h1 {
		margin: 2rem 0;
	}
	#about .right-div {
		/* border: solid red 1px; */
		width: 100%;
		display: flex;
		padding: 4rem 3rem;
		justify-content: space-between;
	}
	#about .right-div .content {
		/* border: solid red 1px; */
		width: 45%;
	}
	.about_content_1 h1 {
		margin-top: 0;
	}
	.about_content_2 .card img {
		width: 3.5rem;
		height: 3.5rem;
	}
}
@media only screen and (max-width: 750px) {
	.about_content_2 .card img {
		width: 3rem;
		height: 3rem;
	}
}
@media only screen and (max-width: 700px) {
	.parallax .nav h1 {
		font-size: 5rem;
		margin: 1rem 0;
	}
}
@media only screen and (max-width: 700px) {
	#about .right-div {
		flex-direction: column;
	}
	#about .right-div .content {
		/* border: solid red 1px; */
		width: 100%;
	}
}
@media only screen and (max-width: 550px) {
	#about .parallax .img-container img {
		width: 5em;
		height: 5em;
	}
	.parallax .nav h1 {
		font-size: 4rem;
		margin: 0.5rem 0;
	}
	#about .right-div {
		padding: 4rem 2rem;
	}
}
