#magic_nav {
	font-family: var(--roboto);
	/* border: solid blue 2px; */
	padding: 0.5rem 1rem;

	/* display: block; */
}

#magic_nav nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#magic_nav nav div:first-child {
	display: flex;
	align-items: center;
	font-size: 1rem;
}

#magic_nav img {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	margin: 1rem;
}
#magic_nav nav div:last-child {
	display: flex;
	align-items: center;
	position: relative;
}
#magic_nav nav div:last-child h1 {
	font-size: 2rem;
	margin: 0 2rem;
}

.aboveAbout .menu_about h1 {
	color: #fff;
}

#magic_nav nav .menu_about ul {
	position: absolute;
	/* border: solid black 1px; */
	/* background-color: bisque; */
	right: -10px;
	z-index: 10;
	top: 50px;
	border-radius: 0 0 0 30px;
}
.menu_about ul li {
	list-style: none;
	padding: 0.5rem 2rem;
}
.menu_about ul li a {
	text-decoration: none;
	font-size: 1rem;
	font-weight: bolder;
}

.burger_menu {
	display: inline-block;
	/* display: flex; */
	flex-direction: column;
	cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: translate(0, -11px) rotate(45deg);
}

.displayNone {
	display: none;
}

/* ! above about  */
.aboveAbout {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 5;
	background-color: red;
}
.aboveAbout #menu_option {
	border: solid red 1px;
	background-color: white;
}
.aboveAbout #menu_option a {
	color: red;
}

/* ! above project  */
.aboveProject {
	position: fixed;
	z-index: 11;
	background-color: #fff;
	border-bottom: red solid 3px;
}
.aboveProject .menu_about h1 {
	color: red;
}
.aboveProject #menu_option {
	border: solid red 1px;
	background-color: red;
}
.aboveProject #menu_option a {
	color: white;
}

@media only screen and (max-width: 550px) {
	#magic_nav {
		padding: 10px 1rem;
	}
	#magic_nav img {
		margin: 0 10px;
	}
	#magic_nav nav div:last-child h1 {
		font-size: 1.5rem;
	}
	.bar1,
	.bar2,
	.bar3 {
		width: 30px;
		height: 4px;
		margin: 4px 0;
	}
	.change .bar1 {
		transform: translate(0, 8px) rotate(-45deg);
	}
	.change .bar3 {
		transform: translate(0, -8px) rotate(45deg);
	}
	#magic_nav nav .menu_about ul {
		top: 40px;
	}
}
