:root {
	--dancing: "Dancing Script", cursive;
	--great: "Great Vibes", cursive;
	--marck: "Marck Script", cursive;
	--montez: "Montez", cursive;
	--roboto: "Roboto", sans-serif;
	--satisfy: "Satisfy", cursive;
}
html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#main {
	background-color: #292929;
	color: #fff;
	height: 100vh;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* display: none; */
}

#lorem {
	margin-top: 6rem;
	margin-bottom: 6rem;
	text-align: center;
	font-size: 5em;
	font-family: var(--great);
}
#lorem h1:last-child {
	/* margin-top: -4rem; */
	margin-left: -3rem;
}
#lorem h1 {
	line-height: 8rem;
}

.nav ul {
	color: red;
	list-style: none;
	display: flex;
	flex-direction: row;
	font-family: var(--roboto);
	font-size: large;
}

.nav ul {
	width: 15em;
	align-items: center;
	justify-content: space-between;
}

.nav ul li a {
	text-decoration: none;
	font-weight: bolder;
}

#main .nav ul li a {
	color: red;
}

.nav li:hover {
	cursor: pointer;
	text-decoration: underline;
}

footer {
	height: 5vh;
	color: #fff;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ! for about js */
.nav_active {
	text-decoration: underline;
}
@media only screen and (max-width: 700px) {
	#lorem {
		font-size: 3.3rem;
	}
	#lorem h1:last-child {
		/* margin-top: -4rem; */
		margin-left: 0;
	}
}
@media only screen and (max-width: 550px) {
	#lorem {
		font-size: 2.2rem;
	}
}
