/* ? new PROJECT */
#newProject {
	font-family: var(--roboto);
	display: flex;
}
.parallax_left {
	width: 50%;
	min-height: 300px;
	background-image: url("https://images.pexels.com/photos/1036808/pexels-photo-1036808.jpeg?auto=compress&cs=tinysrgb&w=600");
	background-attachment: fixed;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	z-index: 10;
	padding: 12rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/* #newProject_nav_1 {
	border: solid black 1px;
}
#newProject_nav_2 {
	border: solid red 1px;
}
#newProject_nav_3 {
	border: solid blue 1px;
} */

.parallax_left_fixed {
	position: fixed;
	width: 50%;
	top: 12rem;
}

.parallax_left_absolute {
	position: absolute;
	width: 100%;
	bottom: 14rem;
}
.parallax_left .nav .nav_head {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.parallax_left .nav h1 {
	font-size: 8em;
	font-family: var(--satisfy);
	margin-bottom: 150px;
	color: red;
}

.parallax_left .nav ul li a {
	color: red;
	font-weight: bolder;
}

.newProject_right {
	width: 50%;
	padding: 0 2rem;
}

.newProject_right .wrapper {
	/* border: solid red 2px; */
	height: 20rem;
	color: fff;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	position: relative;
}
.wrapper img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.wrapper .project_description {
	position: absolute;
	height: inherit;
	width: 4rem;
	right: 0;
	background-color: rgba(5, 4, 4, 0.3);
	transition: all 2s;
	/* transition-timing-function: ease-in-out; */
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper .project_description h4 {
	writing-mode: vertical-lr;
	text-orientation: upright;
	transition: all 1s;
	/* transition-timing-function: ease-in-out; */
}
.wrapper .project_description:hover {
	cursor: pointer;
	width: 10rem;
}
.wrapper .project_description:hover h4 {
	font-size: 0;
}

.wrapper .project_curtain {
	position: absolute;
	height: 0%;
	width: 100%;
	z-index: 3;
	background-color: rgba(5, 4, 4, 0.8);
	transition: height 1.3s;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 80px;
}

.wrapper .project_curtain h1 {
	font-size: 0;
	font-family: var(--dancing);
	margin-bottom: 20px;
	transition: all 2s;
	transition-timing-function: ease;
}
.wrapper .project_curtain p {
	font-size: 1em;
	visibility: hidden;
	transition: all 1s;
}

.wrapper .project_description:hover ~ .project_curtain {
	height: inherit;
}
.wrapper .project_description:hover ~ .project_curtain h1 {
	font-size: 5em;
}
.wrapper .project_description:hover ~ .project_curtain p {
	visibility: visible;
}

.wrapper button {
	padding: 5px 15px;
	margin: 0 0 15px 15px;
	border-radius: 5px;
	transition: all 1s;
	align-self: flex-end;
}

.wrapper button a {
	text-decoration: none;
	color: black;
	padding: 2px;
}
.wrapper button:first-child {
	margin-left: 50px;
}
.wrapper button + button {
	margin-left: 20px;
	visibility: hidden;
}

/* .project_1 {
	background-image: url("../images/coffee-project.PNG");
	background-position: center;
	background-size: 700px 400px;
	background-repeat: no-repeat;
} */
/* .project_2 {
	background-image: url("../images/dice-game.PNG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 700px 325px;
} */
/* .project_3 {
	background-image: url("../images/simon-game.PNG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 700px 325px;
} */
/* .project_4 {
	background-image: url("../images/randomizer.PNG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 700px 325px;
} */
/* .project_5 {
	background-image: url("../images/Num-to-word.PNG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 700px 325px;
} */

/*! coffee */
#newProject .project_1 h1 {
	color: #a0968b;
}
#newProject .project_1 button:hover {
	background-color: #343434;
	border: solid #a0968b 2px;
	cursor: pointer;
}
#newProject .project_1 button:hover a {
	color: #a0968b;
}
/*! dice_game */
#newProject .project_2 h1 {
	color: #4ecca3;
}
#newProject .project_2 button:hover {
	background-color: #343434;
	border: solid #4ecca3 2px;
	cursor: pointer;
}
#newProject .project_2 button:hover a {
	color: #4ecca3;
}

/*! simon_game */
#newProject .project_3 h1 {
	color: #0000ff;
}
#newProject .project_3 button:hover {
	background-color: #343434;
	border: solid #0000ff 2px;
	cursor: pointer;
}
#newProject .project_3 button:hover a {
	color: #0000ff;
}

/*! randomizer */
#newProject .project_4 h1 {
	color: #ffaebc;
}
#newProject .project_4 button:hover {
	background-color: #343434;
	border: solid #ffaebc 2px;
	cursor: pointer;
}
#newProject .project_4 button:hover a {
	color: #ffaebc;
}

/*! num_to_word */
#newProject .project_5 h1 {
	color: #faebd7;
}
#newProject .project_5 button:hover {
	background-color: #343434;
	border: solid #faebd7 2px;
	cursor: pointer;
}
#newProject .project_5 button:hover a {
	color: #faebd7;
}

/* ! start of responsive css */
@media only screen and (max-width: 1000px) {
	#newProject {
		display: flex;
		flex-direction: column;
	}
	#newProject_nav_1 {
		visibility: visible;
	}
	#newProject_nav_2 {
		display: none;
	}
	#newProject_nav_3 {
		display: none;
	}

	.parallax_left {
		/* border: solid red 1px; */
		width: 100%;
		background-size: cover;
		padding: 4rem 0;
	}
	.parallax_left .nav h1 {
		margin-bottom: 2rem;
	}

	.newProject_right {
		padding: 2rem;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
	.newProject_right .wrapper {
		width: 47%;
		height: 18rem;
	}

	.wrapper .project_curtain {
		padding: 0 2rem;
	}

	.wrapper .project_description:hover ~ .project_curtain h1 {
		font-size: 3.8em;
	}
}
@media only screen and (max-width: 750px) {
	.newProject_right .wrapper {
		width: 100%;
		height: 20rem;
	}
}
@media only screen and (max-width: 700px) {
	.parallax_left .nav h1 {
		font-size: 5em;
		margin-bottom: 2rem;
	}
}
@media only screen and (max-width: 550px) {
	.parallax_left .nav h1 {
		font-size: 4em;
		margin-bottom: 2rem;
	}
	.newProject_right {
		padding: 2rem 1rem;
	}

	.newProject_right .wrapper {
		/* border: solid red 2px; */
		height: 15rem;
	}
	.wrapper .project_curtain {
		padding: 0 1rem;
	}

	.wrapper .project_description:hover ~ .project_curtain h1 {
		font-size: 3em;
	}
}
